body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  background: linear-gradient(270deg, #ff7eb3, #ff758c, #ffce73, #8fd3f4, #84fab0);
  background-size: 600% 600%;
  animation: bgFlow 30s ease infinite;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-wrapper {
  position: relative;
  width: 1280px;
  height: 720px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.output_canvas,
.canvas2d {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  border-radius: 20px;
}

.canvas2d {
  pointer-events: none;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.input_video {
  display: none;
}

#filterButton {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  transform: none;
}

.info-box {
  position: absolute;
  top: 30px;
  left: 10px;
  max-width: 90px;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  line-height: 1.3;
  word-wrap: break-word;
  text-align: left;
}

@keyframes bgFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}